:root {
    --border-color: rgba(215,215,215);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;
    background-color: rgba(239,239,239);
}

a {
    text-decoration: none;
    color: black;
}

nav {
    /* position: fixed; */
    display: flex;
    justify-content: center;
    width: 100%
}

.nav-content {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav .nav-content .features a:hover{
    background-color:black ;
    color:white;
}
.logo {
    font-weight: bold;
    cursor: pointer;
    width: 30%;
}

.features {
    display: flex;
    width: 70%;
    gap: 2rem;
    font-size: 0.8rem;
}
.cont{
    height:12vh;
    background-color: rgb(238, 237, 237);
    display: flex;
    justify-content: center;
}

.cont3{
    display: flex;
    justify-content: center;
    width: 70%;
}
.cont2 { 
    display: flex;
    font-size: 0.8rem;
    width: 70%;
    font-family: cursive;
    justify-content: flex-end;
    /* align-items: center; */
    flex-direction: column;
    padding: 1rem;
}
    
.cont1 {
    display: flex;
    font-size: 0.8rem;
    width: 30%;
    font-family: cursive;
    justify-content: flex-end;
    /* align-items: center; */
    flex-direction: column;
    padding: 1rem;
    
}

.row-1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2cqb;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}


.small-row{
    width: 70%;
    height: 100%; 
    display: grid;
    justify-content: center;
    grid-template-columns: 1.5% 98% 1.5% ;
}

.small-00, .small-01,.large-00 {
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
}




.row-y{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}
.small-rowy{
    width: 70%;
    height: 100%; 
    display: grid;
    justify-content: center;
    grid-template-columns: 1.5% 98% 1.5%
}
.small-y00, .small-y02 {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}
 




.yw{
    height: 15vh;
    display: flex;
    justify-content: center;
    color: orangered;
    font-weight: bold;
    font-size: 40px;
    padding-top: 50px;
}
.ww1{
    height: 15vh;
    display: flex;
    justify-content: center;
    color: orangered;
    font-weight: bold;
    font-size: 40px;
    padding-top: 50px;
}


.dot{
    width: 0.5em;
    height: 0.5em;
    display: block;
    border-radius: 50%;
    border: 3px solid rgba(33,33,33);
}
.ww2{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    will-change: transform;
}
.dot{
    border-radius: 50%;
    margin-top: 15px;
    margin-right:8px;
    margin-left: 8px;
}



.ww2 h1{
    display: flex;
    font-size: 40px;
    text-transform: uppercase;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 1px;
    margin-top: 15px;
    color:orangered;
    animation: move-rtl 6000ms linear infinite;
}
#rdi{
    color: black;
}
.ww3{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    will-change: transform;
}
.ww3 h1{
    display: flex;
    font-size: 40px;
    text-transform: uppercase;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 1px;
    margin-top: 15px;
    color:orangered;
    animation: move-rtl 14000ms linear infinite;
}
@keyframes move-rtl {
    0%{
        transform: translate(0);

    }
    100%{
        transform: translate(-100%)
    }
    
}
.row-2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}
.row-3{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}





